<table class="table table-striped table-active">
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
    <% @recipe.all_ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.food.name %></td>
        <td><%= pluralize(ingredient.quantity, ingredient.food.measurement_unit) %></td>
        <td>$<%= ingredient.food.price * (ingredient.quantity) %></td>
        <td>
           <% if can? :destroy_ingredient, @recipe %>
            <%= link_to 'Remove', recipe_food_path(ingredient),
          data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
          class: 'btn bg-danger text-light fw-bold' %>
          <% else %>
            <span class="text-secondary">...</span>
          <% end %>
        </td>
      <tr>
    <% end %>
  </table>