<h2>List of all users</h2>
<hr>
<ul class="list-group">
  <% @users.each do |user| %>
    <li class="bg-light rounded p-4 item shadow-sm list-group-item">
      <%=  user.name   %>
    </li>
<% end %>
</ul>
