<table class="table table-striped table-active">
    <tr>
    <th>Food</th>
    <th>Measurement Unit</th>
    <th>Unit Price</th>
    <th>Actions</th>
  </tr>
  <% @foods.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.measurement_unit %></td>
      <td>$<%= food.price %></td>
      <td><%= link_to 'Delete', food_path(food), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn bg-danger text-light fw-bold' %></td>
    <tr>
  <% end %>
</table>